.header {
  position: fixed;
  top: -85rem;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
  z-index: 999;
  transition: 0.8s;
  opacity: 0;
}
.header.on {
  top: 0;
  opacity: 1;
}

.header .h_wrap {
  height: 80rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header .gnb>ul {
  display: flex;
  gap: 40rem;
}

.header .gnb>ul>li>a {
  font-size: 18rem;
  font-weight: 500;
}

.header .gnb .sub {
  display: none;
}

.header .h_right {
  display: flex;
  gap: 16rem;
  align-items: center;
}

.header .h_right .btn_ham {
  display: none;
}

.header .h_right .btn_lang .ko {
  display: none;
}

.header .h_right .heart {
  position: relative;
}

.header .h_right .heart span {
  font-size: 30rem;
}

.header .h_right .heart>strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14rem;
}

/* visual */

.main_vi {
  position: relative;
}

.main_vi .itm {
  position: relative;
  height: 100vh;
}

.main_vi .itm01 {
  background: url(../images/main_vi01.jpg) no-repeat right center/cover;
  background-size: 115%;
}

.main_vi .itm02 {
  background: url(../images/main_vi02.jpg) no-repeat center center/cover;
  background-size: 110%;
}

.main_vi .itm03 {
  background: url(../images/main_vi03.jpg) no-repeat left bottom/cover;
  background-size: 110%;
}

.main_vi .slogan {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(0, -50%);
  margin: 0 0 0 -585rem;
}

.main_vi .slogan>strong {
  display: inline-block;
  /* background: #6EBA34; */
  padding: 10rem 20rem;
  border: 1px solid #888;
  font-weight: 200;
  margin: 0 0 16rem 0;
}

.main_vi .slogan h2 {
  width: 500rem;
  font-size: 56rem;
  font-weight: 200;
  line-height: 70rem;
}

/* arrow, count */
.main_vi .btn_left .arrows {
  position: absolute;
  left: 50%;
  bottom: 100rem;
  margin: 0 0 0 -585rem;
  max-height: 90rem;
  height: 100%;
}

.main_vi .arrows>* {
  cursor: pointer;
  width: 40rem;
  height: 40rem;
  font-size: 20rem;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 37rem;
  transition: 0.5s;
}

.main_vi .arrows .left {
  position: absolute;
  top: 0;
}

.main_vi .arrows .left:hover {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 1);
}
.main_vi .arrows .right:hover {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 1);
}

.main_vi .arrows .right {
  position: absolute;
  bottom: 0;
}

.main_vi .slide_num {
  position: absolute;
  left: 50%;
  bottom: 100rem;
  margin: 0 0 0 -520rem;
  line-height: 30rem;
  text-align: center;
}

.main_vi .slide_num>span {
  display: block;
  font-size: 24rem;
}

.main_vi .slide_num>strong {
  display: block;
  font-size: 24rem;
}

/* 빙글빙글 텍스트 */
.main_vi .circle_wrap {
  position: absolute;
  left: 50%;
  transform: translate(-100%, 0);
  margin: 0 0 0 585rem;
  bottom: 40rem;
}

.main_vi .circle_wrap>a>span {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  border-radius: 50%;
  width: 80rem;
  height: 80rem;
  text-align: center;
  line-height: 80rem;
  font-size: 34rem;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  transition: 1s;
}

.main_vi .circle_wrap:hover>a>span {
  background: rgba(255, 255, 255, 1);
}

.main_vi .circle_wrap .circle {
  display: flex;
  position: relative;
  width: 200rem;
  height: 200rem;
  border: 1px solid #888;
  border-radius: 50%;
}

.main_vi .circle_wrap .text {
  width: 100%;
  height: 100%;
  position: absolute;

  animation: anim 15s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main_vi .circle_wrap .text span {
  position: absolute;
  left: 50%;
  top: 2px;
  font-size: 14rem;
  font-weight: 200;
  transform-origin: 0 96rem;
  user-select: none;
}

.main_coll .bigbg {
  height: 100vh;
  background: linear-gradient(90deg, rgba(221, 221, 221, 0.1) 50%, rgb(255, 241, 210) 50%);
}